{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ product.name }}</h1>
<h2>Price: Rp{{ product.price }}</h2>
<p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}{% if product.is_hot %} | 
    <b>Hot</b>{% endif %} | Views: {{ product.product_views }}</p>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />

<h2>Brand: {{ product.brand }}</h2>
<h2>Size: {{ product.size }}</h2>
{% endif %}

<p>{{ product.description }}</p>

{% endblock content %}